<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/navigation :: navbar"></div>
<h2>All tasks</h2>
<section>
    <div th:value="${task}">
        <div th:text="${task.name}"></div>
        <div th:text="${task.description}"></div>
        <div th:text="${task.state}"></div>
        <div th:text="${task.endTime}"></div>
    </div>
    <a th:href="@{/task-form}">Back to all tasks</a>
</section>
</body>
</html>